
body{
  background-color:#eee;
}

p{
  color:#333;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight:100;
  letter-spacing: 0.5px;
  font-size:35px;
  line-height: 40px;
  text-align: center;
}
