body {
	background-color: #eee;
}


.inputPanel {
	background-color : #ccc;
    padding : 10px;
}

.canvasOptions {
	max-width: 400px;
}

.canvasOptions input[type="range"] {
	width: 100%;
}

#mainOptions {
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed red;
}

.pointer {
	cursor: pointer;
}

.inputPanel .inputBox {
	height: 100px;
	display: inline-block;
	margin-right: 20px;
	background-color: #bbb;
	padding: 15px;
	vertical-align: top;
}

.optionsPanel {
	width: 500px;
}


.optionsPanel .optionsItem {
	background-color: #aaa;
	padding: 15px;
	margin-bottom: 15px;
}

.inline div{
	display: inline-block;
	vertical-align: top;
}

.fullWrapper {
	width: 100%;
	height: 100%;
}

.flexy {
	display: flex;
	justify-content: center;
	align-items: center;
}

.styled {
	font-weight: 100;
	margin:0px 0px 5px 0px;
}

canvas {
	border: 1px dashed black;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}