<html>
    <head>
        <title>Not found</title>
        <meta charset="UTF-8"></meta>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<style>

		</style>
    </head>

    <body style="background-color:#fff">


		<div style="width:100%;position:relative">
			<video controls style="margin:0 auto;left:0;right:0;position:absolute">
 				<source src="/ciganka.mp4" type="video/mp4">
 				Your browser does not support the video tag.
			</video>
		</div>
		<button id="next">NEXT VIDEO</button>
		<button id="previous">PREVIOUS VIDEO</button>
	</body>

	<script>

		var links = [
			'/ciganka.mp4',
			'/slovensko5.mp4'
		];

		var actual_index = 0;

		$('#next').click(function() {
			$('video').attr('src',links[(++actual_index) % links.length]);
			document.getElementsByTagName('video')[0].load();
		})

	</script>

</html>
