<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <link rel="stylesheet" type="text/css" href='../public/bootstrap/css/bootstrap.css'>
        <link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons" >
		<script src="../public/jquery-1.12.4.min.js"></script>
        <script src="../public/bootstrap/js/bootstrap.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">

		<style>
	        .myCarousel img{
	            max-height: 300px;
	        }

	        .post{
	            border:1px solid #dedede;
	            padding:10px 20px 10px 20px;
	            background-color: #fff;
	            font-family: "Roboto";
	            margin-bottom:30px;
	        }

	        .post .post-head h1{
	            font-weight: 300;
	            margin:0
	        }


	        .post .post-description p::first-letter{
	            font-size:25px;
	            text-decoration: bold;
	        }

	        .show-more{
	            font-weight: bold;
	        }

	        .post .post-description{
	            padding-top:5px;
	        }

	        .carousel-inner > .item > img {
	            margin: 0 auto;
	        }

	        .show-comments:hover{
	            color:#666;
	            text-decoration: bold;
	        }

	        .comment-author{
	            text-decoration: underline;
	            cursor:pointer;
	        }

	        .author-profile{
	            height:25px;
	            width:25px;
	            background-image: url('https://leafii.com/images/defaultProfilePic.png');
	            background-repeat: no-repeat;
	            background-size: contain;
	            display: inline-block;
	            border-radius: 100%;
	            margin-right:5px;
	        }

	        .comment-panel{
	            border-top:1px solid #ccc;
	            padding-top:10px;
	            display:none;
	        }

	        .p-comment{
	            display:inline-block;
	        }


	        #myCarousel{
	            position:relative;
	            width:600px;
	        }

	        .carousel-caption{
	            background-color: rgba(0,0,0,0.2);
	            -webkit-transition: background-color 600ms linear;
	            -moz-transition: background-color 600ms linear;
	            -o-transition: background-color 600ms linear;
	            -ms-transition: background-color 600ms linear;
	            transition: background-color 600ms linear;
	        }

	        .carousel-caption:hover{
	            background-color: rgba(0,0,0,0.7);
	            -webkit-transition: background-color 600ms linear;
	            -moz-transition: background-color 600ms linear;
	            -o-transition: background-color 600ms linear;
	            -ms-transition: background-color 600ms linear;
	            transition: background-color 600ms linear;
	        }
	    </style>
	</head>


    <body>
		<div id="header-placeholder">
		</div>
        <script>
			$.ajax({
				'url': 'header.html',
				'type': 'get',
				'dataType':'html'
			}).done( function(data) {
				$('#header-placeholder').append(data)
			})
		</script>

        <div class="container">
            <div class="row" style="padding-top:20px;">
                <div class="col-md-6">
                    <p style="width:100%;text-align:center;margin-top:5px;font-weight:400;font-size:22px;"><i class="material-icons">whatshot</i> Najčítanejšie články</p>
                </div>
                <div class="col-md-6">
                    <p style="width:100%;text-align:center;margin-top:5px;font-weight:400;font-size:22px;"><i class="material-icons">location_on</i> Vo Vašej oblasti</p>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-2"></div> -->
                <div class="col-md-6">
                    <div id="firstCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                         <ol class="carousel-indicators">
                            <li data-target="#firstCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#firstCarousel" data-slide-to="1"></li>
                            <li data-target="#firstCarousel" data-slide-to="2"></li>
                            <li data-target="#firstCarousel" data-slide-to="3"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="../images/country1.jpg" style="height:300px;" alt="Chania" class="pointer">
                                    <div class="carousel-caption pointer">
                                       <h3>Chania</h3>
                                       <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                                   </div>
                                </div>

                                <div class="item">
                                  <img src="../image4.jpg" style="height:300px" alt="Chania" class="pointer">
                                  <div class="carousel-caption pointer">
                                     <h3>Relaxačne cestovanie</h3>
                                     <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                                 </div>
                                </div>

                                <div class="item">
                                  <img class="pointer" src="../image2.jpg" style="height:300px" alt="Flower">
                                  <div class="carousel-caption pointer">
                                     <h3>Krasne pohoria</h3>
                                     <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                                 </div>
                                </div>

                                <div class="item">
                                  <img src="../image1.jpg" style="height:300px" class="pointer" alt="Flower">
                                  <div class="carousel-caption pointer">
                                     <h3>Cesta do hôr</h3>
                                     <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                                 </div>
                                </div>
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#firstCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#firstCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="secondCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                         <ol class="carousel-indicators">
                            <li data-target="#secondCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#secondCarousel" data-slide-to="1"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img class="pointer" src="../image6.jpg" style="height:300px" alt="Chania">
                                    <div class="carousel-caption pointer">
                                       <h3>Chania</h3>
                                       <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                                   </div>
                                </div>

                                <div class="item">
                                    <img src="../image5.jpg" style="height:300px" class="pointer" alt="Chania">
                                </div>
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#secondCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#secondCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
                </div>
            </div>
            <!-- <div class="row" style="background-color:#eee">
                <div class="col-md-12">
                    <p>Your text here</p>
                </div>
            </div> -->
        </div>

        <div style="width:100%;background-color:#eee;margin-top:15px">
            <div class="container" style="padding-top:20px;">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="post">
                            <div class="post-head"><h1 class="pointer">Revúca – Voniaca – Hradová – Ostrá – Hnúšťa</h1></div>
                            <div class="pointer post-author">
                                <p style="color:#888">Napísal Michal Zbončák 26.03.2015 15:03</p>
                            </div>
                            <div class="post-image pointer" style="width:100%;height:200px;position:relative;background:url('../image1.jpg');background-size:cover;">
                                <!-- <img src="/image1.jpg" style="width:100%"> -->
                            </div>
                            <div class="post-description" style="width:100%">
                                <p>Na prvú vandrovku v roku 2016 som sa vybral v polovici apríla. Vtedy som ešte netušil, že kvôli povinnostiam sa na jar na ďalšiu nedostanem. Vybral som sa z Revúcej na západ.</p>
                            </div>
                            <div style="width:100%">
                                <p style="width:100%;text-align:center" class="show-more pointer">Zobraziť viac</p>
                            </div>
                            <div class="post-options">
                                <img src="https://maxcdn.icons8.com/windows8/PNG/512/Social_Networks/facebook-512.png" style="height:25px" class="pointer" alt="zdielat"/>

                                <img src="https://zato.io/static/img/icons/twitter-icon2.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/instagram-2048-black.png" style="height:25px" class="pointer" alt="zdielat"/>
								<div style="width:100%;margin-top:15px;">
									<textarea type="text" style="width:100%;resize:none" placeholder="Pridať komentár"></textarea>
								</div>
								<div id="add-comments" class="btn btn-info">Pridať</div>
                                <br>
                                <p class="pointer show-comments" style="margin-top:8px;font-size:18px">Zobraziť komentáre (4)</p>
                                <div class="comment-panel">
                                    <div class="author-profile"></div><p class="p-comment"><span class="comment-author">Vlado Ostrihon</span>: Super članok</p><br>
                                    <div class="author-profile"></div><p class="p-comment"><span class="comment-author">Martin Jegarik</span>: Bratku, si zabiiiiiil...</p><br>
                                    <div class="author-profile"></div><p class="p-comment"><span class="comment-author">Janko hraško</span>: Boh ti to odplati na deťoch</p><br>
                                    <div class="author-profile"></div><p class="p-comment"><span class="comment-author">Stano Zolba</span>: Čital som už veľa člankov...ale tento je bohovsky</p><br>
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-head"><h1 class="pointer">Nový ročník festivalu HOROMIL FEST</h1></div>
                            <div class="pointer post-author">
                                <p style="color:#888">Napísal Michal Zbončák 26.03.2015 15:03</p>
                            </div>
                            <div class="post-image pointer" style="width:100%;height:200px;position:relative;background:url('../image2.jpg');background-size:cover;">
                                <!-- <img src="/image1.jpg" style="width:100%"> -->
                            </div>
                            <div class="post-description" style="width:100%">
                                <p>Pozor, všetci milovníci hôr, cestovania, adrenalínu a športu, prichádza Horomil fest, ktorý už po 8-krát ponúkne v Považskej Bystrici, v srdci Strážovských vrchov, zaujímavú nádielku filmov a prezentácií. </p>
                            </div>
                            <div style="width:100%">
                                <p style="width:100%;text-align:center" class="show-more pointer">Zobraziť viac</p>
                            </div>
                            <div class="post-options">
                                <img src="https://maxcdn.icons8.com/windows8/PNG/512/Social_Networks/facebook-512.png" style="height:25px" class="pointer" alt="zdielat"/>

                                <img src="https://zato.io/static/img/icons/twitter-icon2.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/instagram-2048-black.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <br>
								<div style="width:100%;margin-top:15px;">
									<textarea type="text" style="width:100%;resize:none" placeholder="Pridať komentár"></textarea>
								</div>
								<div class="btn btn-info">Pridať</div>
                                <p class="pointer show-comments" style="margin-top:8px;font-size:18px">Zobraziť komentáre (3)</p>

                            </div>
                        </div>

                        <div class="post">
                            <div class="post-head"><h1 class="pointer">(Cyklotúra) Tokajská vyhliadková veža nad Malou Tŕňou</h1></div>
                            <div class="pointer post-author">
                                <p style="color:#888">Napísal Michal Zbončák 26.03.2015 15:03</p>
                            </div>
                            <div class="post-image pointer" style="width:100%;height:200px;position:relative;background:url('../image3.jpg');background-size:cover;">
                                <!-- <img src="/image1.jpg" style="width:100%"> -->
                            </div>
                            <div class="post-description" style="width:100%">
                                <p>Je ráno, ešte dosť skoro a len tak sedím pri počítači a pozerám maily. Čo dnes budem robiť? Veď je sobota, ísť niekde na huby? Bol som v pondelok... Už to mám, dlho som nesedel na bicykli, veď väčšinou chodím pešo po horách. Prečo sa neísť práve dnes previezť len tak po okolí a možno mi niečo napadne cestou. </p>
                            </div>
                            <div style="width:100%">
                                <p style="width:100%;text-align:center" class="show-more pointer">Zobraziť viac</p>
                            </div>
                            <div class="post-options">
                                <img src="https://maxcdn.icons8.com/windows8/PNG/512/Social_Networks/facebook-512.png" style="height:25px" class="pointer" alt="zdielat"/>

                                <img src="https://zato.io/static/img/icons/twitter-icon2.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/instagram-2048-black.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <br>
								<div style="width:100%;margin-top:15px;">
									<textarea type="text" style="width:100%;resize:none" placeholder="Pridať komentár"></textarea>
								</div>
								<div class="btn btn-info">Pridať</div>
                                <p class="pointer show-comments" style="margin-top:8px;font-size:18px">Zobraziť komentáre (3)</p>

                            </div>
                        </div>


                        <div class="post">
                            <div class="post-head"><h1 class="pointer">(Chata) Majláthova chata pri Popradskom plese</h1></div>
                            <div class="pointer post-author">
                                <p style="color:#888">Napísal Michal Zbončák 26.03.2015 15:03</p>
                            </div>
                            <div class="post-image pointer" style="width:100%;height:200px;position:relative;background:url('../image4.jpg');background-size:cover;">
                                <!-- <img src="/image1.jpg" style="width:100%"> -->
                            </div>
                            <div class="post-description" style="width:100%">
                                <p>Donedávna bol návštevníkom Popradského plesa známy horský hotel na jeho brehu, avšak od zimy 2010/2011 pribudla v tesnom susedstve hotela historizujúca napodobenina pôvodnej Majláthovej chaty zo začiatku 20. storočia. Moderný hrazdený objekt ponúka okrem stravovania útulné ubytovanie vyššieho štandardu.</p>
                            </div>
                            <div style="width:100%">
                                <p style="width:100%;text-align:center" class="show-more pointer">Zobraziť viac</p>
                            </div>
                            <div class="post-options">
                                <img src="https://maxcdn.icons8.com/windows8/PNG/512/Social_Networks/facebook-512.png" style="height:25px" class="pointer" alt="zdielat"/>

                                <img src="https://zato.io/static/img/icons/twitter-icon2.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/instagram-2048-black.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <br>
								<div style="width:100%;margin-top:15px;">
									<textarea type="text" style="width:100%;resize:none" placeholder="Pridať komentár"></textarea>
								</div>
								<div class="btn btn-info">Pridať</div>
                                <p class="pointer show-comments" style="margin-top:8px;font-size:18px">Zobraziť komentáre (3)</p>

                            </div>
                        </div>

                        <div class="post">
                            <div class="post-head"><h1 class="pointer">(Chata) Turistická základňa Tiešňava Krpeľany</h1></div>
                            <div class="pointer post-author">
                                <p style="color:#888">Napísal Michal Zbončák 26.03.2015 15:03</p>
                            </div>
                            <div class="post-image pointer" style="width:100%;height:200px;position:relative;background:url('../image5.jpg');background-size:cover;">
                                <!-- <img src="/image1.jpg" style="width:100%"> -->
                            </div>
                            <div class="post-description" style="width:100%">
                                <p>Klub slovenských turistov Dynamo Krpeľany si na podhorí Veľkej Fatry postavil jednoduchú turistickú základňu, ktorú pomenovali Tiešňava. Stojí na opačnom brehu Váhu, ako je obec Krpeľany, blízko hydroelektrárne Krpeľany. </p>
                            </div>
                            <div style="width:100%">
                                <p style="width:100%;text-align:center" class="show-more pointer">Zobraziť viac</p>
                            </div>
                            <div class="post-options">
                                <img src="https://maxcdn.icons8.com/windows8/PNG/512/Social_Networks/facebook-512.png" style="height:25px" class="pointer" alt="zdielat"/>

                                <img src="https://zato.io/static/img/icons/twitter-icon2.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/instagram-2048-black.png" style="height:25px" class="pointer" alt="zdielat"/>
                                <br>
								<div style="width:100%;margin-top:15px;">
									<textarea type="text" style="width:100%;resize:none" placeholder="Pridať komentár"></textarea>
								</div>
								<div class="btn btn-info">Pridať</div>
                                <p class="pointer show-comments" style="margin-top:8px;font-size:18px">Zobraziť komentáre (3)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


		<script>
			$('#firstCarousel').carousel({
				interval: 8000
			});
			$('#secondCarousel').carousel({
				interval: 5000
			});

			$('.pointer.show-comments').click(function(){
				$(this).parent().find('.comment-panel').toggle(400);

				if ($(this).text().indexOf("Zobra") > -1)
				$(this).text("Skryť komentáre (4)");
				else {
					$(this).text("Zobraziť komentáre (4)");
				}
			});
		</script>


    </body>


</html>
