<html>
    <head>
        <meta charset='utf-8'></meta>
        <link rel="stylesheet" type="text/css" href='../public/bootstrap/css/bootstrap.css'>
        <link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <script src="../public/jquery-1.12.4.min.js"></script>
        <script src="../public/bootstrap/js/bootstrap.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">

        <script>
        var showed = 1;
            function showFilter(){
                showed = !showed;

                if(!showed)
                    $('.filter').show(400);
                else
                    $('.filter').hide(400);

            }
        </script>
        <style>

            .information{
                float:right;
            }

            .red{background-color:red}
		    .green{background-color:green}
		    .yellow{background-color:#ffcc33}
		    .orange{background-color:orange}
		    .red{background-color:red}
		    .blue{background-color: #3399ff}

			#show_results {
				margin-top: 30px;
			}


        </style>
    </head>

    <body>

		<div id="header-placeholder">
		</div>
	    <script>
			$.ajax({
				'url': 'header.html',
				'type': 'get',
				'dataType':'html'
			}).done( function(data) {
				$('#header-placeholder').append(data)
			})
		</script>

        <div class="container">
            <div class="row" style="padding:30px 0px 30px 0px">
                <div class="col-md-3">
                    <p style="font-size:20px;line-height:50px;">/<span class="pointer underline">Domov</span>/<span class="pointer underline">Ubytovanie</span></p>
                </div>
                <div class="col-md-9">
                    <div onclick="showFilter()" class="menu-button pointer" style="background-color:#888">
                        <p>Filter</p>
                    </div>
                </div>
            </div>

            <div class="row filter" style="display:none;background-color:black;color:white;padding:20px 10px 20px 10px;">
				<div class="col-md-12">
					<input class="col-md-12" type="text" style="color:black;margin-bottom:10px;border-radius:2px;box-shadow:none;height:50px;font-size:30px;" placeholder="Zadajte nazov chaty alebo oblasti">
				</div>

				<div class="col-md-4" style="border-right:1px solid #555">
                    <p style="font-weight:bold;font-size:20px;">Inventár zariadenia:</p>
                    <p style="line-height:18px;margin:0px;"><input name="check_kuchynka" type="checkbox">Kuchynka </p>
                    <p style="line-height:18px;margin:0px;"><input name="check_wifi" type="checkbox">Wifi/Internet </p>
                    <p style="line-height:18px;margin:0px;"><input name="check_klimatizacia" type="checkbox">Klimatizácia </p>
                    <p style="line-height:18px;margin:0px;"><input name="check_balkon" type="checkbox">Balkón </p>
                    <p style="line-height:18px;margin:0px;"><input name="check_kupelna" type="checkbox">Vlastná kúpeľňa </p>
                </div>
                <div class="col-md-4 order" style="border-right:1px solid #555">
                    <p style="font-weight:bold;font-size:20px;">Zoradiť podľa:</p>
                    <div class="btn-group">
						<div>
	                        <input type="radio" name="gender" value="radio_abc" checked> Abecedy<br>
	                        <input type="radio" name="gender" value="date"> Popularity<br>
	                        <input type="radio" name="gender" value="views"> Počtu videní<br>
	                        <input type="radio" name="gender" value="radio_price"> Ceny <br>
						</div>
						<div id="filter-order" style="border-top:1px solid #eee">
							<input type="radio" name="order" value="asc" checked> Vzostupne
							<input type="radio" name="order" value="desc" > Zostupne
						</div>
					</div>
                </div>

                <div class="col-md-4 order" style="border-right:none solid #555">
                    <p style="font-weight:bold;font-size:20px;">Počet lôžok:</p>
                    <!-- <div class="btn-group"> -->
                        <input type="checkbox" name="gender" value="relevance" checked> 1<br>
                        <input type="checkbox" name="gender" value="date"> 2<br>
                        <input type="checkbox" name="gender" value="views"> 3 a viac
                    <!-- </div> -->
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="show_results" class="menu-button pointer green">
                            <p >Zobraziť (38)</p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="posts-list" class="row" style="margin-top:50px;;">

				<div class="col-md-12 forum-post" style=";border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">

                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_grand.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Grand hotel jasná</h2>
                                    <p style="color:#999;font-size:14px"> </p>
                                </div>
                                <div class="desc pointer">
                                    <p>5 hviezdičkový hotel grand v Jasnej s luxusným zariadením Vám zaručí dovolenku v Tatrách podľa Vašich snov.</p>
                                </div>

                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">60</span>€ / noc</p>
                                </div>

                                <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

                            </div>
                        </div>
                        <!-- <div class="information">
                            <p style="line-height:100px;vertical-align:center;">Napísal Martin Porubiak 19.05.2015 15:08</p>
                        </div> -->
                    </div>
                </div>


                <div class="col-md-12 forum-post" style=";border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_1.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Chata pod sedlom Čertovica</h2>
                                    <p style="color:#999;font-size:14px"> </p>
                                </div>
                                <div class="desc pointer">
                                    <span>Staručká chata Čertovica je dlhoročne uzavretá a čaká na obnovu, hrebeňovkári hotel nehľadajú a penzión je zbytočne komfortný, tak ideálnym riešením je Chata pod sedlom Čertovica, kde nemajú problém s turistami na jednu noc.</span>
                                </div>
                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">60</span>€ / noc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 forum-post" style=";border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_2.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Chata Magurka</h2>
                                    <p style="color:#999;font-size:14px"> </p>
                                </div>
                                <div class="desc pointer">
                                    <span>Chatu tvorí na prízemí veľká jedáleň s barovým pultom. Počas chladnejších dní je vyhrievaná aj krbom. Časť jedálne tvorí TV kútik. Z jedálne sa dá dostať do salónika a tiež do kuchyne.</span>
                                </div>
                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">50</span>€ / noc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="information">
                        <p style="line-height:100px;vertical-align:center;">Napísal Martin Porubiak 19.05.2015 15:08</p>
                    </div> -->
                </div>


                <div class="col-md-12 forum-post" style=";border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_3.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Poľovnícka chata Voľa pod Lysákom</h2>
                                    <p style="color:#999;font-size:14px"> </p>
                                </div>
                                <div class="desc pointer">
                                    <span>Ide o drevenú zrubovú chatu obdĺžnikového pôdorysu s rozmermi približne 6 x 4 m. Zastrešená je plechovou sedlovou strechou. Vnútorné priestory sú uzamknuté, dvere aj okná sú zabezpečené mrežou. Pre turistov je ale dôležitá informácia, že pred západným priečelím chaty sa po jej celej dĺžke nachádza asi 1,3 m široká zastrešená terasa.</span>
                                </div>
                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">40</span>€ / noc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="information">
                        <p style="line-height:100px;vertical-align:center;">Napísal Martin Porubiak 19.05.2015 15:08</p>
                    </div> -->
                </div>


                <div class="col-md-12 forum-post" style=";border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_4.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Majláthova chata pri Popradskom plese</h2>
                                    <p style="color:#999;font-size:14px"> </p>
                                </div>
                                <div class="desc pointer">
                                    <span>Donedávna bol návštevníkom Popradského plesa známy horský hotel na jeho brehu, avšak od zimy 2010/2011 pribudla v tesnom susedstve hotela historizujúca napodobenina pôvodnej Majláthovej chaty zo začiatku 20. storočia.</span>
                                </div>
                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">15</span>€ / noc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="information">
                        <p style="line-height:100px;vertical-align:center;">Napísal Martin Porubiak 19.05.2015 15:08</p>
                    </div> -->
                </div>


                <div class="col-md-12 forum-post" style=";border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_5.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Chata pod Rysmi</h2>
                                    <p style="color:#999;font-size:14px"></p>
                                </div>
                                <div class="desc pointer">
                                    <span>Najvyššie položená tatranská chata počas posledných dvoch rokov výrazne zmenila svoju podobu. Pôvodne mala zmeniť aj svoje umiestnenie, z viacerých dôvodov však ostalo len pri projekte bezpečnejšej chaty na starom mieste</span>
                                </div>
                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">60</span>€ / noc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="information">
                        <p style="line-height:100px;vertical-align:center;">Napísal Martin Porubiak 19.05.2015 15:08</p>
                    </div> -->
				</div>
                    <div class="col-md-12 forum-post" style="border-left:2px solid black;margin-bottom:50px;border-bottom:0.5px solid #eaeaea">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="pointer" src="../ubytovanie_images/hotel_6.jpg" style="height:100px;display:inline-block;vertical-align:top">
                        </div>
                        <div class="col-md-10">
                            <div class="content" style="display:inline-block">
                                <div class="caption pointer" style="display:inline-block;margin:0px;">
                                    <h2 style="margin:0px;display:inline-block">Zamkovského chata</h2>
                                    <p style="color:#999;font-size:14px"> </p>
                                </div>
                            <div class="desc pointer">
                                <span>Zamkovského chata leží na križovatke viacerých frekventovaných turistických trás. Je cieľom pre rodiny s deťmi a pre tých, ktorí sa chcú prejsť z Hrebienka, ale aj zastávkou na ceste na Skalnaté pleso či k Téryho chate. V zime ju okupuje množstvo skialpinistov.</span>
                            </div>
                                <div class="desc pointer" style = "font-size: 20px;">
                                    <p>Cena: <span class="cena">35</span>€ / noc</p>
                                </div>
                        </div>
                    </div>
                    <!-- <div class="information">
                        <p style="line-height:100px;vertical-align:center;">Napísal Martin Porubiak 19.05.2015 15:08</p>
                    </div> -->
                </div>
            </div>
        </div>


	    <div id="ubytovanieModal" class="modal fade" role="dialog">
	  		<div class="modal-dialog modal-lg">

				    <!-- Modal content-->
			    <div class="modal-content">
			    	<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 id="captionModal" class="modal-title">Grand hotel Jasná</h4>
					</div>

	      			<div class="modal-body" style = "height:350px; ">
	                	<img src="" style="position: absolute; height: 300px; left:0; right:0; margin:0 auto; max-width: 100%"/>
	                </div>

		  			<div class="modal-footer" style="word-wrap: break-word;">
						<div class="stars">
							<p class="text-center" style="font-size:25px;display: table-cell;vertical-align: middle;padding: 10px;">

							</p>
						</div>
						<p id="descriptionModal" class="text-left col-md-12"  >5 hviezdičkový hotel grand v Jasnej s luxusným zariadením Vám zaručí dovolenku v Tatrách podľa Vašich snov.</p>
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      			</div>
	    		</div>
	  		</div>
		</div>

		<!-- MODAL THINGS -->
		<script>

			$('.forum-post').click(function() {
				let caption = $(this).find('.caption').find('h2').text();
				let description = $(this).find('.desc').text();
				let img = $(this).find('img').eq(0).attr("src");
				let price = $(this).find('.cena').eq(0).text();

				let modal = $('#ubytovanieModal')

				$(modal).find('#captionModal').text(caption)
				$(modal).find('#descriptionModal').text(description)
				$(modal).find('img').attr("src",img)
				// $().find('#descriptionModal').text(description)
				$(modal).modal('show')


				let star_container = $(modal).find('.stars p');
				$(star_container).empty()
				let random_rating = Math.random() * 5;

				$(star_container).append(" Rating: ")
				$(star_container).append(" "+Math.round(random_rating * 10) / 10 + " ")

				for (let i = 0; i < Math.round(random_rating); i++)
				{
					$(star_container).append("<i class='material-icons' style='\
    vertical-align: middle;'>star</i>")
				}

			})

		</script>

        <script>
            var container = $('.tags').find('#cont');
            var tags = $(container).find('span');
            for (var i = 0; i < tags.length; i++) {
                tags[i].count = Math.floor(Math.random()*50);
            }

            tags.sort(function(a, b) {
                return a.count > b.count ? -1 : 1;
            });

            // console.log(tags);

            $(container).empty();

            for (var i = 0; i < tags.length; i++) {
                $(tags[i]).css('fontSize', Math.max(25, tags[i].count / 1.5) + 'px');
                $(container).append( $(tags[i]).append('(' +tags[i].count + ')') );
                $(container).append(' ');
            }

			$('.forum-post *').click(function() {
				$('#myModal').modal('show');
			})

        </script>

		<!-- FILTER THINGS  -->
		<script>

			function shuffle(a) {
			    var j, x, i;
			    for (i = a.length; i; i--) {
			        j = Math.floor(Math.random() * i);
			        x = a[i - 1];
			        a[i - 1] = a[j];
			        a[j] = x;
			    }
			}

			var posts = $('.forum-post');

			$(posts).each(function() {
				$(this).attr("pocet_lozok",Math.floor(Math.random() * 4 + 1))
				$(this).attr("kuchynka",Math.random() > 0.4 ? true : false)
				$(this).attr("wifi",Math.random() > 0.4 ? true : false)
				$(this).attr("klimatizacia",Math.random() > 0.4 ? true : false)
				$(this).attr("balkon",Math.random() > 0.4 ? true : false)
				$(this).attr("kupelna",Math.random() > 0.4 ? true : false)
			})


			$('.filter input').on('click keydown keyup',function(){
				$('#show_results').find('p').text(`Zobrazit (${Math.floor(Math.random()*20)})`)
			});

			// CLICK ON FILTER SHOW RESULTS
			$('#show_results').click(function() {
				let checked_order = $('#filter-order input:checked');
				var inputs = $('input[name*="check_"]');
				var forum_posts = $('.forum-post')

				// AT FIRST ALL POSTS ARE VISIBLE, THEN WE START HIDING
				$(forum_posts).each(function() {
					$(this).css("display","block")
				})

				$(inputs).each(function() {
					let checked = $(this).is(':checked')

					// nechaj tak ked neni zafajknute, chod na dalsie
					if (!checked)
						return;

					let attr = $(this).attr('name').split('_')[1]
					let input = this

					$(forum_posts).each(function() {
						if ( checked && $(this).attr(attr) == "false" ) {
							$(this).hide();
						}
					})


				})


				/* IF SORT BY PRICE IS CHECKED */
				if ($('input[value="radio_price"]').is(':checked')) {
					let posts = $('.forum-post')

					let checked_order = $('#filter-order input:checked');


					let posts_with_prices = [];

					$(posts).each(function() {
						let cena_tohto = parseFloat($(this).find('span.cena').text())
						posts_with_prices.push({element: this, price: cena_tohto})
					})

					if($(checked_order).attr("value") == "desc") {
						posts_with_prices.sort(function(a,b) {
							return a.price > b.price ? -1 : 1;
						})
					} else {
						posts_with_prices.sort(function(a,b) {
							return a.price < b.price ? -1 : 1;
						})
					}




					posts_with_prices.forEach(function(obj) {
						$('#posts-list').append(obj.element)
					})
				}



				else if ($('input[value="radio_abc"]').is(':checked')) {

					let posts = $('.forum-post')

					let posts_with_prices = [];

					$(posts).each(function() {
						let cena_tohto = $(this).find('h2').text()
						posts_with_prices.push({element: this, abc: cena_tohto})
					})

					if($(checked_order).attr("value") == "desc") {
						posts_with_prices.sort(function(a,b) {
							return a.abc > b.abc ? -1 : 1;
						})
					} else {
						posts_with_prices.sort(function(a,b) {
							return a.abc < b.abc ? -1 : 1;
						})
					}

					posts_with_prices.forEach(function(obj) {
						$('#posts-list').append(obj.element)
					})


				} else {
					// window.alert('this000')
					let posts = document.getElementsByClassName('forum-post')
					shuffle(posts);

					for (let i = 0; i < posts.length; i++) {
						document.getElementById('posts-list').appendChild(posts[i])
					}
				}
			})

		</script>

    </body>

</html>
