<div class="footer">
    <div class="container">
        <div class="text-center">
            <img style='height:30px;' src="/assets/images/information.svg"><br>
            <p>Do you have some questions, want to chat or give me feedback?</p>
            <p>Contact me.</p>
            <div>
                <div class="icon">
                    <a href="mailto:martin.schnurer@gmail.com" target="_top"><img src="/assets/images/gmail.svg"> martin.schnurer@gmail.com</a>
                </div>
                <div class="icon">
                    <a href="http://facebook.com/martin.schnurer"><img src="/assets/images/facebook.png"> Martin Schnurer</a>
                </div>
                <div class="icon">
                    <a href="http://instagram.com/martin.schnurer"><img src="/assets/images/instagram.png"> martin.schnurer</a>
                </div>
            </div>
        </div>
    </div>
</div>
