<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.page_title %}{{ page.page_title }}{% else %}Martin Schnurer - Serverless place{% endif %}</title>
	<meta name="description" content="{% if page.meta_description %}{{page.meta_description}}{%else%}This is the right place for you and your procrastination time.{% endif %}">

	<link href="https://fonts.googleapis.com/css?family=Krub:200,300,400,700" rel="stylesheet">
	<link rel="icon" href="/assets/images/favicons/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/highlight.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="/assets/js/jquery-1.12.4.min.js"></script>
	<script src="/assets/css/bootstrap/js/bootstrap.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127960781-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-127960781-1');
	</script>
	
</head>
