html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
}

div {
    /*border:1px solid red;*/
}

pre {
    background-color: transparent;
    color: transparent;
    border: none;
}

p {
    font-size: 16px;
    letter-spacing: 0.8px;
}

.header {
    background-color: #111;
    color:white;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.menu .item{
    color: inherit;
    text-decoration: none;
}

.menu .item:hover {
    color: black;
    background-color: #eee;
}

.content {
    min-height: 100vh;
}

.footer {
    background-color: #111;
    color:white;
    padding: 10px;
}


/*
.about-user{
    background-image: url('/assets/images/bg.jpeg');
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center
}
*/

.about-user .my-photo {
    overflow:hidden;
}

.about-user .my-photo img {
    height: 100px;
    border-radius: 50%;
}

.description-faded {
    padding: 5px 15px 5px 15px;
    font-size: 18px;
    font-weight: 100;
    color: white;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

.person-list {
    display: flex;
    flex-wrap: wrap;
}

.person-item {
    width: 80px;
    text-align: center;
    width: auto;
    margin: 10px;
}

.person-item .photo{
    /*display: flex;
    justify-content: center;
    align-items: center;*/

}

.person-item .photo img {
    height: 80px;
    /*max-width: 80px;*/
}

.person-item .name {

}

.footer {
    margin-top: 15px;
    padding-top: 30px;
}

.footer .icon img {
    height: 25px;
}

.flexy {
    display: flex;
}

#subscription-form input {
    color: black;
}

#subscription-form {
    color: white;
}


.post {
    margin-top: 10px;
    background-color: #eee;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    padding: 10px 25px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.84);
}

.post p {
    margin-bottom: 38px;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-weight: 400;
}

.post li {
    font-size: 21px;
    line-height: 1.15;
    letter-spacing: -.003em;
    font-weight: 400;   
}